<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b>Anantha</b>Software</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Choose Company</p>
        <form [formGroup]="companySelectForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <select formControlName="company" class="form-control">
                    <option value=""  selected>Select Company</option>
                    <option *ngFor="let company of (companies$ | async)" [value]="company.id">
                        {{ company.name }}
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
