<!-- account-table.component.html -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Account Master</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#" [routerLink]="['/']">Home</a></li>
          <li class="breadcrumb-item active">New Account</li>
        </ol>
        <div>

        </div>
        
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        
      </div>
    </div>
  </div>
</section>
<section class="content">
<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9">
            <h3>Account List</h3>
          </div>
          <div class="col-md-3">
            <button class="btn btn-block btn-primary " (click)="navigateTo('/account-master/new-account')">New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Account Name</th>
              <th>Account City</th>
              <th>Account Sub Group</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of (accounts$ | async)">
              <td>{{ account.name }}</td>
              <td>{{ account.city }}</td>
              <td>{{ account.sub_group?.name || 'Not Available' }}</td>
              <!-- <td>
                <button class="btn btn-sm btn-primary" (click)="editAccount(account)">
                  <i class="fa fa-edit"></i> 
                </button>
              </td> -->
              <td class="project-actions">
                <!-- <a class="btn btn-primary btn-sm" href="#">
                  <i class="fas fa-eye"></i>
                  View
                </a> -->
                  &nbsp;
                <a class="btn btn-info btn-sm"  (click)="editAccount(account)">
                  <i class="fas fa-pencil-alt">
                  </i>
                  Edit
                </a>
                  &nbsp;
                <a class="btn btn-danger btn-sm" (click)="deleteAccount(account.id)">
                  <i class="fas fa-trash">
                  </i>
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>
